@model IEnumerable<ProjectC.Models.label>

@{ ViewBag.Title = "Labels";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <table class="table" style="text-align: center;">
                <tr>
                    <th>Labelnaam</th>
                    <th></th>
                    <th>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Anders
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a href="~/label/create" class="dropdown-item">Label Toevoegen</a>
                                </li>
                                <li>
                                    <a href="~/ContactPerson/index" class="dropdown-item">Contactpersonen</a>
                                </li>
                                <li><a href="~/klant/index" class="dropdown-item"> Klanten</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>


                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Verwijderen", "label", new { id = item.labelid }))
                    {
            <tr class="table-item">
                <td>
                    @Html.DisplayFor(modelItem => item.labelname)
                </td>
                <td>
                    <a href="~/label/Edit/@item.labelid.ToString()" class="btn">Inzien</a>
                </td>
                <td>
                    <input type="submit" value="Verwijderen" class="btn" />
                </td>
            </tr>
                    }
                }




            </table>
        </div>
    </div>
   
</div>
