@{ ViewBag.Title = "Emails";
}

<a class="button"> Reeds verzonden emails</a>
<a class="versturen">Versturen</a>

<form>
    <input type="text" placeholder="E-mailadres/tags/achternaam">
    <textarea></textarea>
</form>
</body>

<img src="~/Content/bgimage.jpg" , height="100%" , width="100%" />