@model IEnumerable<ProjectC.Models.klant>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<table class="table">
    <tr>
        <th>
            Bedrijf
        </th>
        <th>
            Algemene Email
        </th>
        <th>
            Telefoonnr
        </th>
        <th>
        </th>
        <th>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" id="table-dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Anders
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a href="~/klant/create" class="dropdown-item">Klant toevoegen</a>
                    </li>
                    <li>
                        <a href="~/label/index" class="dropdown-item">Labels</a>
                    </li>
                    <li>
                        <a href="~/contactperson/index" class="dropdown-item">Contactpersonen</a>
                    </li>
                </ul>
            </div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Verwijderen", "klant", new { id = item.bedrijfsid }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bedrijfsnaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bedrijfsemail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bedrijfsnummer)
                </td>
                <td>
                    <input type="submit" value="Verwijderen" class="btn"/>
                </td>
                <td>
                    <a href="~/klant/Edit/@item.bedrijfsid.ToString()" class="btn">Inzien</a>
                </td>
            </tr>
        }
    }
    </table>

