@model IEnumerable<ProjectC.Models.klant>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<table class="table">
    <tr>
        <th> </th>
        <th>
            voornaam
        </th>
        <th>
            tussenvoegsel
        </th>
        <th>
            achternaam
        </th>
        <th>
            email
        </th>
        <th>
            bedrijfsnaam
        </th>
        <th></th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Verwijderen", "klant", new { id = item.persoonid }))
        {
            <tr>
                <td>
                    <a href="~/klant/Edit/@item.persoonid.ToString()" class="btn"> inzien</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tussenvoegsel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.achternaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

                <td>
                    Bart BV.
                </td>
                <td>
                    <input type="submit" value="Verwijderen" class="btn"/>
                </td>
                <td></td>
            </tr>
        }
    }
    </table>
    <p>
        <a href="~/klant/create" class="btn"> Klant toevoegen</a>
        <a href="~/label/index" class="btn"> Labels</a>
        <a href="~/contactperson/index" class="btn"> contactpersonen</a>
    </p>


